/* Cor de Fundo: #F8F8F8
   Cor de Fonte: #473f33
   Font de textos: Garbata
   Fonte de Titulo: Hatton */
*{box-sizing: border-box; margin: 0; max-width: 100%;}

/* .limitador {margin: 0; width: 90vw;} */

body {
  margin: 0px;
  margin-top: -8vw;
  width: 100%;
  background-color: #F8F8F8;
  color: #473f33;
}

.limitador { max-width: 800px; margin: auto; padding: 20px;}
  
}

header img { 
  margin-left: auto;
  transform: scale(100vw);
}

a {text-decoration: none; color: #473f33; font-weight: bold;}

nav ul {  
  background-color: #867a6754;
  box-shadow: 5px 3px 5px 2px rgba(194, 187, 174, 0.212);
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-align{
  position: relative;
  transform: translateY(-8vw);
}

hr {display: none; }
















.artigo1 {
  background-color: aquamarine;
}

.artigo2 {
  background-color: rgb(255, 142, 127);
}

.artigo3 {
  background-color: rgb(170, 118, 253);
}
